#email,#password, #profile_name,#confirm_password {
  display: inline-block;
  float: left;
  position: relative;
}

label{
    display: inline-block;
    float: left;
    clear: left;
    width: 100px;
    text-align: right;
	
}
#nxtbtn
{    display: inline-block;
	
	position : relative;
	background-color: red
}

#pgno
{    
display: inline-block;
position : relative;
float :center;
padding-left : 100px;
padding-right : 100px;
}
#prvbtn
{   
position : relative;
 display: inline-block;
background-color: blue
}
table, th,td{
background-color: aliceblue;
	
}
#errorMsg
{	
	display: inline-block;
	color: FireBrick;
	border: solid;
	border-color:FireBrick;
	background-color: LightSalmon;
}
#needsBorder, #apply {
  border: solid;
  padding: 10px;
  background-color: aliceblue;
  

}
#idform
{
	display: inline-block;
}
#bottom
{
	
	position: relative;
}
footer
{
	position: relative;
	display: inline-block; 
	bottom : 0;
	
}

body
{
  background-color: LightSteelBlue;
}
